target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/


**/.mvn

**/mvnw.cmd
**/mvnw
**/.idea

/hs_err_pid11596.log
**/replay_pid7608.log
**/hs_err_*.log

